<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Extended.Wpf.Toolkit" version="2.9" targetFramework="net452" />
  <package id="Xceed.Products.Wpf.DataGrid.Base" version="6.0.16356.15490" targetFramework="net452" />
  <package id="Xceed.Wpf.Controls" version="6.0.16356.15490" targetFramework="net452" />
  <package id="Xceed.Wpf.DataGrid" version="6.0.16356.15490" targetFramework="net452" />
</packages>